@model video.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script></script>
<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customer",FormMethod.Post))
{
     @Html.ValidationSummary(true,"Please modify the form")
    <div class=" form-group">
        @Html.LabelFor(m => m.Customer.name)
        @Html.TextBoxFor(m => m.Customer.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.name)
    </div>
    <div class=" form-group">
        @Html.LabelFor(m => m.Customer.birthdate)
        @Html.TextBoxFor(m => m.Customer.birthdate,"{0: d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.birthdate)
    </div>
    <div class=" form-group">
        @Html.LabelFor(m => m.Customer.address)
        @Html.TextBoxFor(m => m.Customer.address, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed To News Letter?
        </label>
    </div>
    <div class=" form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId,new SelectList(Model.MembershipType,"Id","MembershipTypeName"),"Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
 <div class="form-group">
     @Html.HiddenFor(m=>m.Customer.id)
     @Html.AntiForgeryToken()
     </div>    <button type="submit" class="btn btn-primary">Submit</button>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }